$powder-blue : #b9ebe0;
$medium-sea-green: #39c5aa;
$white: #FAFAFA;
$light-gray: #f8f8f8;
$dark-sea-green: #9EBBB5;
$dark-slate-gray: #414242;
$text-dark: #333333;
$outline-glow : 0px 0px 8px 0px rgba($medium-sea-green, 0.8);