@import '../../colors.scss';

.navbar {
    height: 80px;
    width: 100vw;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    position: sticky;
}

.navbar-logo {
    margin-left: 48px;
    width: auto;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;

    & h2 {
        font-weight: 500;

        & span {
            display: inline-flex;
            background-color: #1bbc9b;
            padding: 8px;
            border-radius: 5px;
            margin-right: 1rem;

            & i {
                color: #ffffff;
            }
        }
    }
}

.navbar-actions {
    margin-right: 48px;
    width: auto;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
    cursor: pointer;

    & .navbar-avatar {
        width: 32px;
        height: 32px;
        border: 1px solid black;
        border-radius: 50%;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        margin: auto 8px;
    }

    & p {
        margin: auto;

        & i {
            margin-left: 8px
        }
    }
}